$basefont = 16px

border-radius()
	-moz-border-radius arguments
	-webkit-border-radius arguments
	-khtml-border-radius arguments
	border-radius arguments

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
	margin 0
	padding 0
	border 0
	outline 0
	font-weight inherit
	font-style inherit
	font-size 100%
	font-family inherit
	vertical-align baseline

h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table,
fieldset, figure, pre, .post, #headwrap, #sidewrap, .postmeta, .resume-experience,
.resume-page-title, .resume-name, .resume-email, .resume-section-header, .resume-skill-legend
	margin-bottom 24px
	margin-bottom 1.5rem

.wrap, .post-title, .page-title
	margin-bottom 12px
	margin-bottom .75rem

.searchform input[type=text], .searchform input[type=submit], .contentwrap, .content,
.footer, .logo, .moretext
	border-radius(3px)

.wrap, .inner-wrap
	border-radius(10px)

img
	border none
	max-width 100%