#comments, #respond
	padding 0
	margin 0

#comments h3, .reply-title, #respond h3
	font-size 1.4em
	color #222
	margin 0 0 1.0714em
	line-height 1.0714em
	padding .43em .5em
	border-top 1px solid #ddd
	border-bottom 1px solid #ddd

.comment-body h3
	color #222 !important
	background none !important
	padding 0 !important
	border none !important

#comments a:link, #comments a:visited, #respond a:link, #respond a:visited
	color #111111
	text-decoration underline

#comments a:hover, #comments a:active, #respond a:hover, #respond a:active
	color #222222
	text-decoration none

.commentmetadata
	font-size 0.7em
	text-transform uppercase
	font-family 'Carme', Verdana, Arial
	margin-top 5px

.comment-meta a, .comment-meta a:link, .comment-meta a:visited
	color #777 !important
	text-decoration none !important

.comment_navi
	margin 5px 10px 20px
	font-size 0.9em
	font-weight bold

.comment_navi .alignright
	float right

.commentlist
	text-align left

.commentlist .comment, .commentlist .pingback, .commentlist .trackback
	list-style none
	margin-bottom 15px
	padding 15px 10px
	border 1px solid #ddd
	border-top 1px solid #eee
	background url(images/wrapper.png) repeat-x #fff
	-moz-border-radius 5px
	-webkit-border-radius 5px
	-khtml-border-radius 5px
	border-radius 5px

.commentlist .comment li
	margin 0
	padding 0
	border none

.comment-author img
	float left
	margin 5px 10px 15px 0

.comment-author .says
	margin-left 5px

.comment-author .fn
	line-height 35px
	color #333
	border 1px solid #ddd
	font-size 1.0em
	font-style normal
	padding 5px 8px
	background #ddd
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

#comments .children
	margin-left 15px

#comments .children .comment
	margin-top 10px
	border 1px solid #ddd
	border-top 1px solid #eee
	border-left 5px solid #ccc
	padding 15px

.commentlist p
	clear left
	margin 10px 5px 10px 0

.comment-reply-link
	text-decoration underline !important

.bypostauthor .fn
	background #111111
	padding 5px 8px
	color #fff !important
	border none
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

.bypostauthor .comment .fn
	background none !important
	color #333 !important
	border 1px solid #ddd

.pingback .says, .trackback .says,
.pingback .comment-meta, .trackback .comment-meta,
.pingback .reply, .trackback .reply
	display none

.pingback .fn, .trackback .fn
	border none
	padding 0 !important

#commentform
	padding 0 0 0 .5em
	margin 0 0 1.5em

#commentform p
	margin 0 0 1.5em

#commentform input
	display block
	width 250px
	border 1px solid #ddd
	background #f5f5f5
	padding 2px 5px
	margin 10px 0
	height 24px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

.comment-form-comment
	padding-right 10px

#commentform textarea
	display:block;
	width 100%
	border 1px solid #ddd
	background #f5f5f5
	padding 5px
	margin 0 10px 20px 0
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

#commentform #submit
	font-weight bold
	cursor pointer
	border 1px solid #ddd
	background url(images/button.png) repeat-x #eee
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

#commentform #submit:hover
	background url(images/button_hover.png) repeat-x #eee

.nocomments
	margin 10px
	padding 0

