.main-footer
	padding 5px 10px
	color #333
	border 1px solid #ddd
	background url(../img/button.png) repeat-x #ddd
	font-size 0.9em
	text-align center

.footer a
	color #222

.footer a:hover
	text-decoration none

.foot_navi
	float right

.foot_navi ul li
	float left
	margin 0 10px 5px 10px

.credit_link
	float right
	font-size 0.9em
	text-decoration none

