.breadcrumbs
	font-size 12.8px
	font-size .8rem
	font-weight 300
	line-height 1.875
.post-title, .page-title
	font-weight 500
	font-size 32px
	font-size 2rem
	line-height 1.5
	a
		&:link, &:visited
			text-decoration none
		&:hover, &:active
			text-decoration underline

.entry
	padding 0
	line-height 1.5

.postmeta
	font-size 0.8em
	padding 10px 0 0
	background: url(../img/wrapper.png) repeat-x #fff;
	border 1px solid #eee
	border-bottom 1px solid #ddd
	line-height 1.875
	color #666
	-moz-border-radius 5px
	-webkit-border-radius 5px
	-khtml-border-radius 5px
	border-radius 5px

.postmeta span
	padding 0 5px
	border-right 1px solid #aaa

.postmeta a:link, .postmeta a:visited
	color #222
	text-decoration none

.postmeta a:hover, .postmeta a:active
	color #111
	text-decoration underline

.blog-postmeta
	margin-bottom 12px
	margin-bottom .75rem

.postinfo
	height 3em

.meta-tags ul
	margin 0

.meta-tags ul li
	float left
	margin-right .5em
	padding .75em 0

.meta-tags ul li strong
	line-height 1.5em

.meta-tags a:link, .meta-tags a:visited
	display block
	color #222
	padding 0 .5em
	background #ddd
	text-decoration none
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

.meta-tags a:hover, .meta-tags a:active
	color #fff
	background #333

.author_box
	margin 20px 5px
	padding 25px 15px 15px
	border 1px solid #ddd
	border-top 1px solid #eee
	background url(../img/wrapper.png) repeat-x #fff
	-moz-border-radius 5px
	-webkit-border-radius 5px
	-khtml-border-radius 5px
	border-radius 5px

.author_image
	float left
	margin-right 15px

.author_image img
	margin 0
	padding 3px
	border 1px solid #ddd

.author_info h5
	font-size 1.3em
	font-weight bold
	margin-bottom 5px
	color #444

.author_description
	color #666

.author_website
	margin-top 5px
	font-size 0.9em

.additional-resources
	p
		background url(../img/bullet-plus.png) 5px 9px no-repeat
		padding-left 15px
		margin-bottom 12px
		margin-bottom .75rem
