.portrait
	padding 0
	border none

.header
	height 432px
	width 280px
	padding 14px 10px
	background #fff
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

.sidebar
	padding 14px 10px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px
	background #fff

.widget_search
	margin-bottom 12px
	margin-bottom .75rem

.widgettitle
	background url(../img/bg.png) repeat-x #333
	color #fff
	font-size 0.9em
	font-weight 700
	padding .833em 10px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px
	line-height 1.667
	margin-bottom 12px
	margin-bottom .75rem
	text-transform uppercase

.widget
	ul
		margin 0 .75em .75em
		li
			list-style url(../img/sidebar_arrow.png) inside
			margin-bottom .75em
			a:link, a:visited
				color:#333;
				text-decoration none
			a:hover, a:active
				color:#777;
				text-decoration underline




/* Theme SocialMedia Widget */
.widget-social-icons img
	margin 3px

/* Theme Ads Widget */
.widget-ads img
	margin 3px

/* Theme Search Widget */
.screen-reader-text
	display none

/* Theme Twitter Widget */
.widget-twitter ul
	margin 0 !important
	padding 0 !important
	list-style none !important

.widget-twitter ul li
	margin 0 10px !important
	padding 2px 0 8px 0 !important

.widget-twitter ul li span
	display block
	margin 3px 0

.widget-twitter p
	display block
	margin 5px 10px


#s
	background #f5f5f5
	border 1px solid #ddd
	padding 6px 5px
	font-size 1em
	font-weight bold
	color #333
	width 160px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

#searchsubmit
	margin-left 5px
	padding 5px 10px
	color #333
	font-size 1.0em
	font-weight bold
	cursor pointer
	border 1px solid #ddd
	background url(../img/button.png) repeat-x #eee
	-moz-border-radius 3px
	-webkit-border-radius 3px
	-khtml-border-radius 3px
	border-radius 3px

#searchsubmit:hover
	background url(../img/button_hover.png) repeat-x #eee
