.wrapper
	margin-top 24px
	margin-top 1.5rem

.wrap
	background url(../img/wrapper.png) repeat
	padding 10px
	padding .625rem

.inner-wrap
	background-color #fff
	padding 14px 10px
	padding .875rem .625rem

.content
	background-color #fff
	margin 0 8px
	margin 0 .5rem
